<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MediSYNC</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "DM Sans";
      }
    </style>
  </head>
  <body>
    <div
      class="p-8 shadow-md bg-gray-50 drop-shadow-sm h-screen invisible 2xl:visible w-1/6 absolute rounded-r-2xl"
    >
      <p class="font-extrabold text-3xl">MediSYNC</p>

      <div class="grid grid-cols-1">
        <div
          onclick="window.location.href = '/';"
          class="group flex items-center mx-2 mt-3 px-4 mb-1 cursor-pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6 inline stroke-gray-500 group-hover:stroke-red-500"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
            />
          </svg>
          <span
            class="m-2 font-medium text-md text-gray-700 group-hover:text-black"
            >Home</span
          >
        </div>

        <div
          onclick="window.location.href = '/students';"
          class="group flex items-center mx-2 px-4 bg-white rounded-xl shadow-sm border hover:bg-red-100 hover:border-red-200 border-gray-200"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6 inline stroke-red-400 stroke-2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
            />
          </svg>

          <span class="mx-3 my-2 font-semibold text-lg">Students</span>
        </div>

        <div
          onclick="window.location.href = '/clinic-history';"
          class="group flex items-center mx-2 px-4 cursor-pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6 inline stroke-gray-500 group-hover:stroke-red-500"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>

          <span
            class="m-2 font-medium text-md text-gray-700 group-hover:text-black"
            >History</span
          >
        </div>

        <div
          onclick="window.location.href = 'form.html.html';"
          class="group flex items-center mx-2 px-4 cursor-pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6 inline stroke-gray-500 group-hover:stroke-red-500"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z"
            />
          </svg>

          <span
            class="m-2 font-medium text-md text-gray-700 group-hover:text-black"
            >Form</span
          >
        </div>
      </div>
    </div>
    <div
      class="grid place-content-center w-full md:w-2/3 lg:w-1/2 mx-auto pt-10 px-5 pb-20"
    >
      <div>
        <p class="text-center text-3xl font-extrabold mb-12">
          Student Profiles
        </p>

        <div class="flex flex-wrap place-content-center">
          <% const colors = ['purple', 'red', 'orange', 'emerald', 'yellow', 'green', 'teal', 'cyan', 'sky', 'blue', 'indigo', 'violet', 'fuchsia', 'pink', 'rose']; %>
          <% if (students.length > 0){ %> 
            <% students.forEach(student => { %> 
              <% var randomNum = Math.floor(Math.random() * colors.length) %>
              <div
            class="profile_div py-5 px-8 border mx-2 my-2 rounded-xl shadow-sm drop-shadow-sm border-<%= colors[randomNum] %>-200 hover:bg-<%= colors[randomNum] %>-100 bg-<%= colors[randomNum] %>-50 hover:border-<%= colors[randomNum] %>-300 cursor-pointer"
          >
            <div class="flex place-items-center my-2 mr-2 text-sm font-medium">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-20 inline stroke-<%= colors[randomNum] %>-400 mr-5"
              >
              
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
                />
              </svg>
              <p>
                <span class="font-bold text-lg mb-3 line"><%= student.name %></span><br />
                <span><%= student.student_id %></span><br/>
                <span><%= student.section %></span><br/>
                <span class="font-normal text-xs text-gray-600 rfid"><%= student.rfid %></span>
              </p>
            </div>

          </div>
              
            <% }) %>
          <% } %>
          
          
          </div>
          <!-- histories -->
        </div>
        
      </div>
    </div>
    <script type="text/javascript" src="../js/profile.js"></script>
  </body>
</html>
