<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.name %> Visit History</title>
    <link rel="stylesheet" href="/css/user-history.css">
</head>
<body>
    <h1>CLINIC VISIT HISTORY</h1>
    <h1><%= user.name %></h1>
    <h2><%= user.student_id %></h2>
    <h3><%= user.section %></h3>
    
    <% if (visits.length > 0){ %>
        <% visits.forEach(visit=>{ %>
            <div class="visit_div">
                <h3><%= visit.reason %></h3>
                <h4><%= visit.details %></h4>
                <h4><%= visit.medications %></h4>

                <% if(visit.time_start.split(':')[0] > 12){ %>
                    <% var hour = visit.time_start.split(':')[0] - 12 %>
                    <% var am_pm = "PM" %>
                <% } else { %>
                    <% var hour = visit.time_start.split(':')[0] %>
                    <% var am_pm = "AM" %>
                <% } %>

                <h5><%= visit.date.toLocaleString('en-us',{month:'short', day: 'numeric', year:'numeric'}) %> | <%= hour +":"+ visit.time_start.split(':')[1] + " " + am_pm %></h5>
            </div>
        <% }) %>
    <% } %>

</body>
</html>